<h2>Category</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                CategoryID
            </th>
            <th>
                Category Name
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                1
            </th>
            <th>
                name
            </th>
            <th>
                Descriptuin
            </th>
        </tr>
    </tbody>
</table>